
.country-list-table th, td {
    border-bottom: 1px solid #ddd;
}
.country-list-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.country-list-table tr:hover {
    background-color: rgba(180, 180, 180, 0.58);
    cursor:pointer;
}

